
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
}
/* shared Style */
.display-flex{
    display: flex;
}
/* Drak-02 */
 .text-gray { 
    /* color: rgba(114, 114, 114, 1); */
}
/* Drak-03 */
.text-gray-light{
    color: rgba(114, 114, 114, 1);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    border: none;

}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
.Section-title{
    font-size: 2.8rem;
}

/* header style */

/* navbar realted style */
.navbar{
     justify-content: space-between;
     align-items: center;
     
}
.brand{
 font-weight: 700px;  
 font-size: 3rem; 
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner-realeted-content */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-title{
    font-weight: 700;
    font-size:4rem ;
}

.banner-img{
    width: 100%;
}
/* team and feture related style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}

.our-fetures{
    margin-left: 130px;
    max-width: 530px;
}

#Quicklist{
    font-weight: 500;
}

#Features-color{
    color: #FF900E;
}

/* Some fact Releted css */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px ;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}
.fact-name{
    font-size:1.25rem ;
    font-weight: 600;
    margin-top: 10px;

}
.some-description{
    max-width: 540px;
} 
/* Our Sponspors realtetd style */
.sponsor-info{
    max-width:540px ;
    margin: 50px auto;
    
}
.sponser-company{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
  
}
.sponser-company img{ 
    filter: grayscale(100%);

}

/* responsive media qurary */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links , 
    .teams{
        flex-direction: column;

    }
    .team-img-container, 
    .fact-container, 
    .sponser-company {
        grid-template-columns: 1fr;
    }
    
    .our-fetures{
        margin-left: 60px;
    }
    .fact-container {
        grid-template-columns: 1fr;
        justify-items: center; 
    }
.sponser-company{
    justify-items: center;
    gap: 50px;

}

}

/* medium-divies */
@media screen and (min-width:576px)and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-fetures{
        margin: 50px auto;
    }
    .sponser-company,
    .our-fetures{
        grid-template-columns: repeat(2, 1fr);

        gap: 50px;
    }
}

